<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Schools</title>
</head>
<body>
<div th:switch="${schools}">
    <h2 th:case="null">No schools yet!</h2>
    <div th:case="*">
        <h2>Schools</h2>
        <table>
            <thead>
            <tr>
                <th>Name</th>
                <th>Edit</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="school : ${schools}">
                <td th:text="${school.name}"></td>
                <td><a th:href="@{/school/edit/{id}(id=${school.id})}">Edit</a></td>
                <td><a th:href="@{/school//delete/{id}(id=${school.id})}">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/school/create">Add a new school</a></p>
</div>
</body>
</html>