<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Update School</title>
</head>
<body>
<form action="#" th:action="@{/school/update/{id}(id=${school.id})}" th:object="${school}" method="post">
    <label for="name">Name</label>
    <input type="text" th:field="*{name}" id="name" placeholder="Name">
    <span th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    <input type="submit" value="Update School">
</form>
</body>
</html>